body {
  background-color: gray;
}

.all {
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 50px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

.pressed {
  transition: transform .2s;
  transform: scale(1.5);
  box-shadow: 0 3px 4px 0 white;
  opacity: 0.5;
}
